.tables1 {
    background-color: #cacaca;
    border-radius: 20px;
    font-family: sans-serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    color: #1B1B1B;
    border: 16px solid #cacaca;
}

.tables1 th {
    font-size: 18px;
    padding: 10px;
    color: #1B1B1B;
    font-weight: 250;
}

.tables1 td {
    padding: 6px;
    background: #eee6e1;
}

.table2 {
    padding: 20px;
}

